@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

ul, ol, dl {
  list-style: none;
}

body {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.main_container {
  max-width: 1396px;
  margin: 0 auto;
}

.text-p2 {
  font-size: 18px;
  line-height: 100%;
}

.btn_dark {
  background: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  height: 100px;
  padding: 0 80px;
  transition: 0.5s ease all;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}
.btn_dark img {
  transition: 0.5s ease all;
}
.btn_dark:hover {
  background: #E40000;
}
.btn_dark:hover img {
  transform: translateX(80px);
}

.header {
  background: #000000;
  padding: 20px 0;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header__container {
  max-width: 1680px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header__logo {
  font-size: 30px;
  font-weight: 300;
  line-height: 100%;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 44px;
}
.header__navs {
  display: flex;
  align-items: center;
  gap: 44px;
}
.header__navs a {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}
.header .change_lang {
  position: relative;
}
.header .change_lang__btn {
  border: 1px solid #ffffff;
  padding: 9px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.select_modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: #000000;
  color: #ffffff;
  transform: translateX(100%);
  transition: 0.3s ease all;
}
.select_modal.active {
  transform: translateX(0);
}
.select_modal__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.select_modal__content .content_left {
  width: 50%;
  height: 100%;
}
.select_modal__content .content_right {
  width: 50%;
  height: 100%;
}
.select_modal__swipers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.select_modal__swipers .main_container {
  max-width: 1174px;
  margin: 0 auto;
  margin-top: 50vh;
  transform: translateY(-50%);
  height: calc(100vh - 246px);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.select_modal__swipers .main_container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  background: #ffffff;
  transform: translateY(65px);
}
.select_modal__swipers .swiper {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.select_modal__swipers .swiper-parent {
  overflow: visible;
  width: 50%;
  height: 100%;
}
.select_modal__swipers .swiper-parent .swiper-slide {
  height: auto;
}
.select_modal__swipers .swiper-parent .swiper-slide button {
  width: 100%;
  text-align: left;
  font-size: 24px;
  color: #919191;
  line-height: 100%;
  text-transform: uppercase;
  transition: 0.5s ease all;
}
.select_modal__swipers .swiper-parent .swiper-slide.swiper-slide-active button {
  font-size: 50px;
  color: #ffffff;
}
.select_modal__swipers .swiper-child {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.select_modal__swipers .swiper-child_wrap {
  width: 50%;
  height: 100%;
  padding-left: 132px;
}
.select_modal__swipers .swiper-child .swiper-slide {
  height: auto;
}
.select_modal__swipers .swiper-child .swiper-slide button {
  width: 100%;
  text-align: left;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 1%;
  color: #919191;
  transition: 0.5s ease all;
}
.select_modal__swipers .swiper-child .swiper-slide.swiper-slide-active button {
  font-size: 50px;
  color: #ffffff;
}

.home {
  color: #ffffff;
}
.home .swiper {
  position: relative;
  height: 100vh;
  background: #575656;
}
.home .swiper-slide {
  position: relative;
  z-index: 1;
  height: 100vh;
}
.home .swiper_btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.home .swiper_btn__container {
  max-width: 1680px;
  margin: 0 auto;
  position: relative;
  height: 400px;
}
.home .swiper_btn button {
  position: absolute;
  top: 50vh;
  transform: translateY(-100%);
}
.home .swiper_btn__prev {
  left: 0;
}
.home .swiper_btn__next {
  right: 0;
}
.home .main_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.home__container {
  max-width: 1680px;
  padding-left: 132px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.home__title {
  margin: 76px 0 71px;
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 80%;
}
.home .btn_dark {
  width: 416px;
}/*# sourceMappingURL=style.css.map */