@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

$color-black: #000000;
$color-white: #ffffff;
$color-red: #E40000;
$color-grey: #898989;

@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

input, textarea {
    outline: none;
    border: 0;
    background: transparent;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

ul, ol, dl {
    list-style: none;
}

body {
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.main_container {
    max-width: 1396px;
    margin: 0 auto;
}

.text {
    &-p2 {
        font-size: 18px;
        line-height: 100%;
    }
}

.btn {
    &_dark {
        background: $color-black;
        color: $color-white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 40px;
        height: 100px;
        padding: 0 80px;
        transition: .5s ease all;
        font-size: 16px;
        font-weight: 600;
        line-height: 100%;

        img {
            transition: .5s ease all;
        }

        &:hover {
            background: $color-red;

            img {
                transform: translateX(80px);
            }
        }
    }
}

// Header
.header {
    background: $color-black;
    padding: 20px 0;
    color: $color-white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

    &__container {
        max-width: 1680px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @include media(1720) {
            max-width: calc(100% - 40px);
        }
    }

    &__logo {
        font-size: 30px;
        font-weight: 300;
        line-height: 100%;

        @include media(786) {
            font-size: 14px;
            font-weight: 400;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 44px;

        @include media(768) {
            display: none;
        }
    }

    &__navs {
        display: flex;
        align-items: center;
        gap: 44px;

        a {
            font-size: 14px;
            font-weight: 400;
            line-height: 100%;
        }
    }

    &_bars {
        @include media(-768) {
            display: none;
        }
    }
}

.change_lang {
    position: relative;

    &__btn {
        border: 1px solid $color-white;
        padding: 9px;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
// Header end

// Mobile menu
.mobile_menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease all;
    transform: translateX(100%);

    &.active {
        transform: translateX(0);
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        a {
            font-size: 14px;
        }
    }
}
// Mobile menu end

// Select modal
.select_modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: $color-black;
    color: $color-white;
    transform: translateX(100%);
    transition: .3s ease all;

    &.active {
        transform: translateX(0);
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;

        .content {
            &_left {
                width: 50%;
                height: 100%;
                background: transparent;
                transition: .3s ease all;
                position: relative;

                .toggle_content_btn {
                    position: absolute;
                    top: 49px;
                    right: 67px;
                    z-index: 2;
                    
                    @include media(-1000) {
                        display: none;
                    }

                    @include media(768) {
                        right: 26px;
                        top: 24px;
                    }

                    img {
                        width: 23px;
                        transform: rotateY(180deg);
                        transition: .3s ease all;
                    }
                }

                @include media(1000) {
                    background: $color-black !important;
                }

                &.active {
                    background: $color-red;

                    @include media(1000) {
                        width: calc(100% - 156px);
                        flex-shrink: 0;

                        .toggle_content_btn {
                            img {
                                transform: rotateY(0);
                            }

                            @include media(768) {
                                right: 41px;
                            }
                        }
                    }

                    @include media(768) {
                        width: calc(100% - 83px);
                    }
                }
            }

            &_right {
                width: 50%;
                height: 100%;
                background: transparent;
                transition: .3s ease all;
                position: relative;

                @include media(1000) {
                    background: $color-red !important;
                }

                .content_close {
                    position: absolute;
                    top: 41px;
                    right: 34px;
                    z-index: 2;

                    @include media(768) {
                        top: 16px;
                        right: 19px;
                    }
                }

                &.active {
                    background: $color-red;

                    @include media(1000) {
                        width: calc(100% - 156px);
                        flex-shrink: 0;
                    }

                    @include media(768) {
                        width: calc(100% - 83px);
                    }
                }
            }
        }
    }

    &__swipers {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .main_container {
            max-width: 1174px;
            margin: 0 auto;
            margin-top: 50vh;
            transform: translateY(-50%);
            height: calc(100vh - 246px);
            display: flex;
            align-items: flex-start;
            position: relative;

            @include media(1450) {
                max-width: calc(100% - 200px);
            }

            @include media(1000) {
                max-width: calc(100% - 156px * 2);
                justify-content: space-between;
                height: calc(100vh - 360px);
            }

            @include media(768) {
                max-width: calc(100% - 40px);
                height: calc(100vh - 188px);
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 5px;
                background: $color-white;
                transform: translateY(55px);

                @include media(1000) {
                    display: none;
                }
            }
        }

        .swiper {
            user-select: none;

            &-parent {
                width: 50%;
                height: 100%;
                transition: .3s ease all;

                @include media(1000) {
                    width: 0;
                    margin: 0;
                
                    &::before {
                        content: "";
                        position: absolute;
                        z-index: 2;
                        width: 387px;
                        height: 5px;
                        top: 50%;
                        left: 0;
                        background: $color-white;
                        transform: translateY(45px);

                        @include media(768) {
                            height: 2px;
                            transform: translateY(32px);
                        }
                    }
                }

                @include media(768) {
                    &::before {
                        width: calc(100% - 89px);
                    }
                }

                &__btn {
                    position: absolute;
                    top: 50%;
                    left: -166px;
                    transform: translate(-100%, -15%);
                    flex-direction: column;
                    gap: 51px;
                    display: none;

                    @include media(1700) {
                        left: -50px;
                    }

                    @include media(1450) {
                        left: -20px;
                    }

                    @include media(1000) {
                        display: none !important;
                    }

                    &.active {
                        display: flex;
                    }
                }

                .swiper {
                    &-slide {
                        height: auto;
                        
                        button {
                            width: 100%;
                            text-align: left;
                            font-size: 24px;
                            color: #919191;
                            line-height: 100%;
                            text-transform: uppercase;
                            transition: .5s ease all;
                            white-space: nowrap;

                            @include media(768) {
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }

                        &.swiper-slide-active {
                            button {
                                font-size: 50px;
                                color: $color-white;

                                @include media(768) {
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                }

                &.active {
                    @include media(1000) {
                        width: 100%;
                        flex-shrink: 0;
                    }

                    .swiper-slide button {
                        @include media(-1000) {
                            color: #fff;
                        }
                    }
                } 
            }

            &-child {
                width: 100%;
                height: 100%;

                @include media(1000) {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: 387px;
                        height: 5px;
                        background: $color-white;
                        transform: translateY(35px);
                        display: none;

                        @include media(768) {
                            height: 2px;
                        }
                    }
                }

                @include media(768) {
                    &::before {
                        width: calc(100% - 89px);
                    }
                }

                &_wrap {
                    width: 50%;
                    height: 100%;
                    padding-left: 132px;
                    transition: .3s ease all;

                    @include media(1450) {
                        padding-left: 80px;
                    }

                    @include media(1000) {
                        width: 0;
                        overflow: hidden;
                    }

                    @include media(768) {
                        padding-left: 0;
                    }

                    &.active {
                        .swiper-child__item.active {
                            .swiper-child__btn {
                                display: flex;
                            }

                            .swiper-slide button {
                                color: $color-white;
                            }

                            .swiper-child {
                                &::before {
                                    display: block;
                                }
                            }
                        }

                        @include media(1000) {
                            width: 100%;
                            flex-shrink: 0;
                            overflow: visible;
                        }
                    }
                }
                
                &__item {
                    height: 100%;
                    width: 100%;
                    position: relative;

                    @include media(1000) {
                        min-width: 387px;
                    }

                    @include media(768) {
                        min-width: calc(100% - 64px);
                    }

                    &:not(.active) {
                        height: 0px;
                        overflow: hidden;
                    }
                }

                &__btn {
                    position: absolute;
                    top: 50%;
                    right: -197px;
                    transform: translate(100%, -15%);
                    flex-direction: column;
                    gap: 51px;
                    display: none;

                    @include media(1700) {
                        right: -50px;
                    }

                    @include media(1450) {
                        right: -20px;
                    }

                    @include media(1000) {
                        display: none !important;
                    }
                }

                .swiper-slide {
                    height: auto;

                    button {
                        width: 100%;
                        text-align: left;
                        font-size: 24px;
                        line-height: 120%;
                        letter-spacing: 1%;
                        color: #919191;
                        transition: .5s ease all;
                        white-space: nowrap;

                        @include media(1000) {
                            text-align: right;
                            color: $color-white;
                        }

                        @include media(768) {
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }

                    &.swiper-slide-active {
                        button {
                            font-size: 50px;
                            color: $color-white;

                            @include media(768) {
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}
// Select modal end

// Home
.home {
    color: $color-white;

    .swiper {
        position: relative;
        height: 100vh;
        background: #575656;

        &-slide {
            position: relative;
            z-index: 1;
            height: 100vh;
        }

        &_btn {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 2;
            
            &__container {
                max-width: 1680px;
                margin: 0 auto;
                position: relative;
                height: 400px;

                @include media(1720) {
                    max-width: calc(100% - 40px);
                }
            }

            button {
                position: absolute;
                top: 50vh;
                transform: translateY(-100%);
            }

            &__prev {
                left: 0;
            }

            &__next {
                right: 0;
            }
        }
    }

    .main_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    &__container {
        max-width: 1680px;
        padding-left: 132px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;

        @include media(1720) {
            max-width: calc(100% - 20px);
        }
    }

    &__title {
        margin: 76px 0 71px;
        font-size: 150px;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 80%;

        br {
            display: none;
        }
    }

    .btn_dark {
        width: 416px;
    }
}
// Home end